<h2>Persons</h2>
<br>
<br>
<button class="btn btn-primary" (click)="onReload()">Reload</button>
  <li class="card card-body" *ngFor="let person of persons">
    <h3>{{ person.firstName }} {{ person.lastName }}</h3>
    <ul class="list-group">
      <li class="list-group-item">{{ person.dateOfBirth }}</li>
      <li class="list-group-item"h3>{{ person.address.addressLineOne }}</li>
      <li class="list-group-item">{{ person.address.addressLineTwo }}</li>
      <li class="list-group-item">{{ person.address.city }}</li>
      <li class="list-group-item">{{ person.address.country }}</li>
      <li class="list-group-item">{{ person.profession }}</li>
      <li class="list-group-item">{{ person.salary }}</li>
      <li class="list-group-item" *ngFor="let hobby of person.hobbies">
        <ul class="list-group">
          <li >{{ hobby.name }}</li>
        </ul> 
      </li>   
      <li class="list-group-item">{{ person.course.name }}</li>
      <li class="list-group-item">{{ person.course.description }}</li>
    </ul>
  </li> 
